*  {
  margin: 0;
  box-sizing: border-box;
}
body  {
  background-color: darkkhaki;
}

h1  {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 1em 0 0 0;
  background-color: beige;
  border: 1px solid black;
  text-transform: uppercase;
  font-family: 'Russo One', sans-serif;
  padding: .5em;
  font-size: 2.5em;
  letter-spacing: .1rem
  
  
}
h3, h4  {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 0 1em 0 0;
  font-size: 1.5em;
  font-family: 'Tangerine', cursive;
}
article  {
  width: 75%;
  margin: 0 12.5%;
  border: 1px solid black;
  padding-bottom: 2em;
  background-color: beige;
  box-shadow: 5px 5px 5px black;
  
}
.first {
  padding: 1em 4em .2em 4em;
}

p  {
  text-indent: 25px;
  font-family: 'Old Standard TT', serif;
  padding: .2em 4em;
  font-size: 1.3em;
}

footer  {
  height: 3em;
  background-color: black;
  margin: 3em 0 1em 0;
}

@media (max-width: 480px){
  article, p  {width: 100%; margin: 0;}
  p, .first  {width: 100%; padding: .2em; text-align: center;}
  h1  {text-align: center; font-size: 1em;}
}
@media (min-width: 1920px){
  p, .first  {font-size: 2em;}
}