*  {
  margin: 0;
  box-sizing: border-box;
}
body  {
  background-color: darkseagreen;
}

h1  {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 1em 0 0 0;
  background-color: beige;
  border: 1px solid black;
  text-transform: uppercase;
  font-family: 'Russo One', sans-serif;
  padding: .5em;
  font-size: 2.5em;
}
h3, h4  {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 0 1em 0 0;
  font-size: .8em;
}
article  {
  width: 75%;
  margin: 0 12.5%;
  border: 1px solid black;
  margin-top: 1em;
}
.first {
  padding: 1em 4em .2em 4em;
}

p  {
  text-indent: 25px;
  font-family: 'Old Standard TT', serif;
  background-color: beige;
  padding: .2em 4em;
  font-size: 1.3em;
}
footer  {
  height: 3em;
  background-color: black;
  margin: 1em 0 1em 0;
}